:root {
    --primary-graphics-light: #b0bcc9;
    --primary-graphics-dark: #7a8695;
    --primary-graphics-mid: #999ca1;
    --primary-text: #e6eff7;
    --secondary-text: #bfd9f2;
    --tertiary-text: #e6eff7;
}

body {
    background-color: var(--primary-graphics-light);
}

.center {
    align-items: center;
}

#header {
    position: sticky;
    padding-top: 20px;
    width: 80%;
    height: 20px;
    margin: auto;
}

.menu-content {
    border-radius: 70px;
    background-color: var(--primary-graphics-mid);
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-shadow: -4px -3px 45px 21px rgba(81, 91, 120, 0.35);
}

.menu-content a {
    color: var(--primary-text);
    text-decoration: none;
    font-size: 30px;
}

.menu-content a:hover {
    color: #aec9ea;
    scale: 1.1;
    box-shadow: -5px -5px 5px 5px rgba(32, 78, 217, 0.35);
}

.col {
    justify-content: center;
}

#ground {
    margin-top: 200px;
}

.container-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#welcome-message {
    font-size: 80px;
    color: var(--secondary-text);
    margin-top: 100px;
    transform: translateY(-50%);
    opacity: 1;
}

#circle {
    border-radius: 100%;
    background-color: #98c7f3;
    opacity: 0.5;
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -4px -3px 45px 21px rgba(11, 57, 197, 0.35);
    position: relative;
}

#circle:hover {
    animation: to-blue 1s forwards
}


@keyframes to-blue {
    0% {
        background-color: #98c7f3;
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.95, 1.05);
    }

    50% {
        transform: scale(1.05, 0.95);
    }
    100% {
        background-color: rgb(0, 42, 255);
        transform: scale(1, 1);
    }
}

#to-do {
    position: relative;
    width: 100%;
    height: 500px;
}

#to-do h1 {
    font-size: 80px;
    color: var(--secondary-text);
    margin-top: 100px;
    transform: translateY(-50%);
    opacity: 1;
    align-items: center;
}