{% extends "layout.html" %}

{% block title %}About Page{% endblock %}
{% block background %}{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}


<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 100%;
        margin: 10px;
        text-align: center;
    }
    .title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    img {
        width: 500px;
        height: auto;
        border-radius: 10%;
        margin: 10px;
        transition: 1s ease;
    }

    #names {
        font-size: 20px;
    }
    img:hover {
        border-radius:30%;
        transition: 1s ease;
    }

    </style>

<div class="container">
    <h2>Leadership Team</h2>
    <div class="grid">
        <div id="2023">
            <img src="https://i.ibb.co/vDStXn4/IMG-1020.jpg">
            <p>2023-2024</p>
            <p id="Hiroyasu Kaji '24, Sasha Fujiwara '25, Kaito Kanazawa '25"></p>
        
        </div>
        <div id="2022">
            <img>
            <p>2022-2023</p>
            <p id="names"></p>
        </div>
        <div id="2021">
            <img src="https://i.ibb.co/n8Nj7Zn/trdb4opz-KVus-JPa-YT9-L-5-SJOv-Z5fh-ZV-tf-Q-SSBAV2wdbqk-92g-WPu-KLy-NPo-Z51-Cm-JZBy-bwd-KAF9a-Qf38i5.jpg" alt="Image 3">
            <p>2021-2022</p>
            <p id="names">Sprihaa Singh '22 , Yuta Hata '23 , and Nadir Elyaddasse '24</p>
        </div>
        <div class="2020">
            <img src="https://i.ibb.co/smsRF97/3pfn-J862l1j-yj-Fh-Dq321yd82z6q-Pvb-FVx6m7-Yh-Dh-yvrl-Vnhlp-PN0e-NWu-Pex-Zpjefs-ERWTd-RWS3u-Xzjhiaw.jpg" alt="Image 2">
            <p>2020-2021</p>
            <p id="names">Riku Mito '21 and Sprihaa Singh '22</p>
        </div>
        <div class="2019">
            <img src="https://i.ibb.co/4pkVygn/image.png" alt="Image 1">
            <p>2019-2020</p>
            <p id="names">Sakura Davitt '20 and Vaishnavi Gorantla '20</p>
        </div>
    </div>
</div>

<div class="container">
    <h2>Meet the Creators</h2>

</div>

{%endblock%}
