{% extends "layout.html" %}

{% block title %}About Page{% endblock %}
{% block background %}{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}


<div class="container">
    <section id="events">
      <h2>CSC Hall of Fame</h2>
      <div class="card-container">
        <div class="card">
            <img src="https://lh3.googleusercontent.com/c1fFVYLoLNak0U1xj9GSXE4Gn_nXKYx2FWZcGNEIBpXNLEZ4tdIMTLfHdVDOWE8bklfBOVv85OpO0EYdrirApDrUl3mHmVlf31-7jjxDtvJiB5ZsSDqCLPflb5wFLr6Lfw=w1280" alt="Event Image">
            <div class="card-content">
                <h3>2nd Place Winners of PekoeCTF2021</h3>
                <p>Team Nebula (Kayra O, Riku M, Nadir E, Kian B, and Hiro K) won 2nd place in the Pekoe Capture the Flag 2021 competition.</p>
            </div>
        </div>
        <div class="card">
            <img src="https://lh3.googleusercontent.com/5vAY1_P7fh1FluhDYbMfk4Zjmf_C-FuP_37EUChAaTmHH60yfYdcln7l4-sbOhs6pgbejdgpY2ynr1CjXwhB-0uBwXJMI_zWHVIzT21i_x5eKO2Y9_ICpAxuQViCFgvSww=w1280" alt="Event Image">
            <div class="card-content">
                <h3>2nd Place Winners of PGCTF21</h3>
                <p>Team Nebula (Kian B, Hiro K, Riku M, Morris R, and Nadir E) won 2nd place in the Porter-Gaud Capture the Flag 2021 competition.</p>
            </div>
        </div>
    </section>
  </div>   

{%endblock%}