{% extends "layout.html" %}

{% block title %}About Page{% endblock %}
{% block background %}{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<div class="row top">
    <img class="club_photo center-fit" src="static/assets/club_photo.jpeg">
    <svg id="arrow" class="arrow" viewBox="0 0 24 24" focusable="false"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path><path d="M0-.75h24v24H0z" fill="none"></path></svg>
</div>
<div class="container">
    <section id="about">
        <h2>About Us</h2>
                <p>The ASIJ Computer Science club is a club where students can pursue their interests and passion in programming and other areas of computer science. Throughout the school year, we host and participate in a variety of CS-related events such as hackathons and CTF (Capture the Flag), which are team competitions that revolve around the usage of a combination of programming, problem-solving, and collaboration. Programmers of all levels are welcome; no prior experience in programming is required. Students are also provided with a multitude of resources that can aid them in any personal project they wish to do, making the Computer Science Club the perfect place for students to explore all that CS has to offer!</p>
        <div class="row promotions">
            <div class="col">
                <img class="poster" src="static/assets/poster.png"> 
            </div>
            <div class="col-sm">
                <img class="promotion_img" src="static/assets/csc_promotion.jpg"> 
            </div>
        </div>
    </section>
    <section id="contact">
        <h2>Contact Us</h2>
        <p>For more information, please reach out to us at <a href="mailto:27stone-bourgeoisl@asij.ac.jp">One of our leaders</a>.</p>
    </section>
</div>

<script>
   window.addEventListener('scroll', function() {
    var arrow = document.getElementById('arrow');
    arrow.style.opacity = 1 - window.scrollY / window.innerHeight + 0.2;
    arrow.setAttribute('transform', 'rotate(20)');
});

var arrow = document.getElementById('arrow');
var about = document.getElementById('about');
    arrow.addEventListener('click', function() {
        window.scrollTo({
            top: about.offsetTop - 10,
            behavior: 'smooth'
        });
    });
</script>



{%endblock%}